<div class="container">
  <div>
    <h1 class="card mt-3" style="width: 300px;">投稿一覧</h1>
  </div>
  <div class="row justify-content-end mb-3 mt-3">
    <%= form_with url: posts_path, method: :get, local: true do |f| %>
     <%= f.text_field :search ,placeholder: "キーワード"%>
     <%= f.submit '検索する', name: nil %>
    <% end %>
  </div>
  <%= render 'index', posts: @posts %>
  <div class="container fixed-bottom">
    <div class="card bg-light pb-5 ">
      <div class="form-list p-2">
        <%= form_with model: @post do |f| %>

            <div class="row justify-content-center">
            <div class="col-2 d-flex align-items-center justify-content-center">投稿内容</div>
            <div class="col-3 d-flex align-items-center"><%= f.text_field :content, class: 'form-control content' %></div>
            <div class="col-1 d-flex align-items-center justify-content-center">画像</div>
            <div class="col-4 d-flex align-items-center"><%= f.file_field :image, class: "form-control-file post_image", accept: 'image/*' %></div>
            <div class="col-2 d-flex align-items-center"><%= f.submit  "投稿する", class: 'btn btn-success' %></div>
          </div>
        <% end %>
    </div>
  </div>

</div>