<div class="container">
  <div>
    <h3 class="title">投稿一覧</h3>
  </div>
  <div class="row justify-content-end mb-3">
    <%= form_with url: posts_path, method: :get, local: true do |f| %>
    <%= f.text_field :search ,placeholder: "キーワード"%>
    <%= f.submit '検索する', name: nil %>
    <% end %>
  </div>
  <%= render 'index', posts: @posts %>
  <div class="container fixed-bottom">
    <div class="card bg-light mb-5 ">
      <div class="form-list p-2">
        <%= form_with model: @post do |f| %>
            <div class="row justify-content-center">
            <div class="col-12 col-md-6 d-flex align-items-center"><%= f.text_field :content,id: 'post-form', class: 'form-control content',placeholder: '好きなことを投稿しよう！' %></div>
            <div class="col-7 col-md-4 d-flex align-items-center"><%= f.file_field :image, class: "form-control-file post_image", accept: 'image/*' %></div>
            <div class="col-5 col-md-2 d-flex align-items-center"><%= f.submit  "投稿する", class: 'btn btn-success' %></div>
          </div>
        <% end %>
    </div>
  </div>

</div>