<div class ="container mt-3">
  <div class="align-items-center">
    <div class="justify-contentcenter"style="text-align: center;">
      <%= image_tag 'logo.png', class: 'logo-title' %>
      <p>
        自分の好きな投稿をしたり、<br>
        ５種類のいいね機能を使って交流を深めよう！<br>
      </p>
      <div class="d-flex justify-content-center">
        <div>
          <%= link_to 'About', about_path, class: "btn btn--red btn--radius btn--cubic" %>
        </div>&nbsp;&nbsp;
        <div>
          <%= link_to '新規登録', new_user_registration_path, class: "btn btn--blue btn--radius btn--cubic" %>
        </div>
        &nbsp;&nbsp;
        <div>
          <%= link_to 'ログイン', user_session_path, class: "btn btn--green btn--radius btn--cubic" %>
        </div>
        &nbsp;&nbsp;
        <div>
          <%= link_to 'ゲストログイン', guests_guest_sign_in_path, class: "btn btn--yellow btn--radius btn--cubic", method: :post %>
        </div>
      </div>
    </div>
  </div>
</div>

