<div class="container">
  <div>
    <h3 class="title">コメント</h3>
  </div>
  <div style="margin-bottom: 10px;">
    <div class="row">
      <div class="col-2 text-right">
        <div><%= image_tag @post.user.get_profile_image(70,70),class: "profile_image"%></div>
      </div>
      <div class="col-9">
        <div class="card">
          <li class="list-group-item">
            <div class="d-flex"><%= @post.user.name %>&nbsp;&nbsp;&nbsp;<p style="color: grey;"><%= time_ago_in_words(@post.created_at).upcase+'前' %></p></div>
            <%= @post.content %>
            <% if @post.get_image.present? %>
              <%= image_tag @post.get_image %>
            <% end %>
          </li>
        </div>
      </div>
    </div>
  </div>
  <% @post_comments.each do |post_comment| %>
    <div style="margin-bottom: 10px;">
      <div class="row">
        <div class="col-2 text-right">
          <%= link_to user_path(post_comment.user_id) do %>
            <div><%= image_tag post_comment.user.get_profile_image(70,70),class: "profile_image" %></div>
          <% end %>
        </div>
        <div class="col-9">
          <div class="card">
            <li class="list-group-item">
              <div class="d-flex"><%= post_comment.user.name %>nbsp;&nbsp;&nbsp;<p style="color: grey;"><%= time_ago_in_words(post_comment.created_at).upcase+'前' %></p></div>
              <%= post_comment.comment %>
              <% if post_comment.get_image.present? %>
                <%= image_tag post_comment.get_image %>
              <% end %>
            </li>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <%= link_to '削除する', admin_post_post_comment_path(post_comment.post,post_comment), method: :delete, class: "btn btn-sm btn-danger"%>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @post_comments %>
</div>