<div class ="container">
  <% notifications=@notifications.where.not(visitor_id: current_user.id) %>
  <div class="d-flex">
    <h1 class="card mt-3" style="width: 100px;">通知</h1>
  </div>
  <% if notifications.exists? %>
    <div class="users-index">
      <p class="m4-4"><%= link_to "通知を全削除", destroy_all_notifications_path, method: :delete,class: "btn btn-danger btn-sm" %></p>
      <table class='table bg-light'>
        <tbody>
          <% notifications.each do |notification| %>
            <tr>
              <td>
                <% visitor=notification.visitor %>
                <% visited=notification.visited %>
                <%= link_to user_path(notification.visitor) do %>
                  <%=  image_tag notification.visitor.profile_image, class: "profile_image", style:"width: 60px;"%>
                  <%= visitor.name %>
                <% end %>
                さんが

                <% case notification.action %>
                <% when 'follow' then %>
                  <%= "あなたをフォローしました" %>
                <% when 'favorite' then %>
                <%= link_to post_path(notification.post) do %>
                  <%= "あなたの投稿" %>
                <% end %>
                  <%= "にいいねしました" %>
                <% when 'post_comment' then %>
                  <% if notification.post.user_id == visited.id %>
                    <%= link_to post_path(notification.post) do %>
                      <%= "あなたの投稿" %>
                    <% end %>
                  <% else %>
                    <%= link_to post_path(notification.post) do %>
                      <%=  image_tag notification.post.user.profile_image, class: "rounded-circle", style:"width: 60px;"%>
                    <% end %>
                    <%= link_to post_path(notification.post) do %>
                      <%= notification.post.user.name+"さんの投稿" %>
                    <% end %>
                  <% end %>
                  <%= "にコメントしました" %>
                <% end %>
                <%= time_ago_in_words(notification.created_at).upcase+'前' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate notifications %>
    </div>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>