<div class="container">
  <div>
    <h3 class="title">ユーザー詳細</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="card"style="margin-bottom: 10px;">
            <div class="list-group-item text-center bg-light">
              <h3 class="my-auto">ユーザ情報</h3>
            </div>
            <div class="list-group-item ">
              <div class="col-mt-2 mx-auto">
                <div class="text-center"style="margin-bottom: 20px;"><%= image_tag @user.get_profile_image(100,100),class: "profile_image" %></div>
                <div class="d-flex">
                  <%= link_to follows_user_path(@user) do %>
                  <h6>フォロー<%= @following_users.count %></h6>
                  <% end %>&nbsp;&nbsp;
                  <%= link_to followers_user_path(@user) do %>
                  <h6>フォロワー<%= @follower_users.count %></h6>
                  <% end %>&nbsp;&nbsp;
                  <h6><%= link_to "いいねした投稿", favorites_user_path %></h6>
                </div>
                <div class='list-group-item'>
                  <%= "名前："+@user.name %>
                </div>
                <div class='list-group-item 'style="margin-bottom: 20px;">
                  <p>自己紹介</p>
                  <%= @user.introduction %>
                </div>
                <div id="follow_buttons_<%= @user.id %>",class="text-center">
                  <%= render "public/relationships/follow-btn", user: @user %>
                </div>
                <% if current_user == @user %>
                  <%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-success" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card"style="margin-bottom: 10px;">
            <div class="list-group-item text-center bg-light">
              <h3 class="my-auto">4K1Gグラフ</h3>
            </div>
            <div class="list-group-item">
              <div class ="col-mt-2 mx-auto">
                <div class="canvas-container d-flex align-items-center mx-auto">
                  <canvas id="myDoughnut"></canvas>
                </div>
                <script>
                  var ctx = document.getElementById("myDoughnut");
                  var myDoughnut = new Chart(ctx, {
                    /* グラフの種類 (bar、line、rader、pie、doughnut、polarArea、bubble などがある) */
                    type: "doughnut",
                    data: {
                      /* 各項目のラベル(上から時計回り) */
                      labels: [
                        "⭐︎",
                        "💓",
                        "👓",
                        "🌱",
                        "⚡️",
                      ],
                      /* データの設定 */
                      datasets: [{
                        data: gon.Favorite_data,
                        backgroundColor: [
                          'rgb(253, 193, 6)',
                          'rgb(251, 87, 88)',
                          'rgb(56, 182, 255)',
                          'rgb(201, 226, 101)',
                          'rgb(254, 222, 90)',

                        ],
                        hoverOffset: 4
                      }]
                    },
                    options: {
                     plugins: {
                    　legend: {
                    　　display: false,
                    　  },
                      },
                    },
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3 class="title">タイムライン</h3>
  </div>
  <%= render 'public/posts/index', posts: @posts %>
  </div>
</div>
