<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-warning fixed-top ">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png', class: 'logo' %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <!-- マイページ用  -->
          <li class="mr-3">
            <%= link_to user_path(current_user),class: 'nav-link text-light text-center' do %>
              <div><%= image_tag current_user.get_profile_image(37,37),class: "profile_image btn--circle"%></div>
            <% end %>
            <p class="text-white mb-0">マイページ</p>
          </li>
          <!-- 投稿一覧用  -->
          <li class="mr-3">
            <%= link_to posts_path,class: 'nav-link text-light text-center' do %>
              <div class="nav-btn mx-auto btn--red btn--red-circle "><i class="fa-regular fa-comment-dots fa-1x"></i></div>
            <% end %>
            <p class="text-center text-white mb-0">投稿一覧</p>
          </li>
          <!-- ユーザー一覧用  -->
          <li class="mr-3">
            <%= link_to users_path,class: 'nav-link text-light text-center' do %>
              <div class="nav-btn mx-auto btn--blue btn--blue-circle"><i class="fa-regular fa-user fa-1x"></i></div>
            <% end %>
            <p class="text-center text-white mb-0">ユーザー</p>
          </li>
          <!-- 通知用  -->
          <li class="mr-3">
            <%= link_to notifications_path,class: 'nav-link text-light text-center' do %>
              <div class="nav-btn mx-auto  btn--green btn--green-circle">
                <% if unchecked_notifications.any? %>
                  <i class="fa-solid fa-bell fa-1x" style="color: #8480ff"></i>
                <% else %>
                  <i class="fa-regular fa-bell fa-1x"></i>
                <% end %>
              </div>
            <% end %>
            <p class="text-center text-white mb-0">通知</p>
          </li>
          <!-- ログアウト用  -->
          <li class="mr-3">
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light text-center' do %>
              <div class="nav-btn mx-auto btn--yellow btn--yellow-circle"><i class="fa-solid fa-right-from-bracket fa-1x"></i></div>
            <% end %>
            <p class="text-center text-white mb-0">ログアウト</p>
          </li>

        <% elsif admin_signed_in? %>
          <!-- ユーザー一覧用  -->
          <li class="mr-3">
            <%= link_to admin_users_path,class: 'nav-link text-light text-center' do %>
              <div class="nav-btn mx-auto btn--blue btn--blue-circle"><i class="fa-regular fa-user fa-1x"></i></div>
            <% end %>
            <p class="text-center text-white mb-0">ユーザー</p>
          </li>
          <!-- 投稿一覧用  -->
          <li class="mr-3">
            <%= link_to admin_posts_path,class: 'nav-link text-light text-center' do %>
              <div class="nav-btn mx-auto btn--green btn--green-circle"><i class="fa-regular fa-comment-dots fa-1x"></i></div>
            <% end %>
            <p class="text-center text-white mb-0">投稿一覧</p>
          </li>
          <!-- ログアウト用  -->
          <li class="mr-3">
            <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light text-center' do %>
              <div class="nav-btn mx-auto btn--yellow btn--yellow-circle"><i class="fa-solid fa-right-from-bracket fa-1x"></i></div>
            <% end %>
            <p class="text-center text-white mb-0">ログアウト</p>
          </li>

        <% else %>
          <!-- About用  -->
          <li class="mr-3">
            <%= link_to about_path,class: 'nav-link text-light text-center' do %>
              <div class="nav-btn mx-auto btn--blue btn--blue-circle"><i class="fa-solid fa-circle-info fa-1x"></i></div>
            <% end %>
            <p class="text-center text-white mb-0">About</p>
          </li>
          <!-- 新規登録用  -->
          <li class="mr-3">
            <%= link_to new_user_registration_path,class: 'nav-link text-light text-center' do %>
              <div class="nav-btn mx-auto btn--green btn--green-circle"><i class="fa-solid fa-user-plus fa-1x"></i></div>
            <% end %>
            <p class="text-center text-white mb-0">新規登録</p>
          </li>
          <!-- ログイン用  -->
          <li class="mr-3">
            <%= link_to new_user_session_path ,class: 'nav-link text-light text-center' do %>
              <div class="nav-btn mx-auto btn--yellow btn--yellow-circle"><i class="fa-solid fa-right-to-bracket fa-1x"></i></div>
            <% end %>
            <p class="text-center text-white mb-0">ログイン</p>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

