<header>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">

      </a>
      <% if user_signed_in? %>
      <a class="navbar-brand" href="/">
      <%= image_tag 'logo.png', class: 'logo' %>
      </a>

        <h3 class="text-warning  mt-4">ようこそ<%= current_user.name%>さん</h3>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>

          <li>
            <%= link_to user_path(current_user),class: 'nav-link text-light' do %>
              <div class="nav-btn">マイページ</div>
            <% end %>
          </li>
          <li>
            <%= link_to posts_path,class: 'nav-link text-light' do %>
              <div class="nav-btn">投稿</div>
            <% end %>
          </li>
          <li>
            <%= link_to users_path,class: 'nav-link text-light' do %>
              <div class="nav-btn">ユーザー</div>
            <% end %>
          </li>
          <li>
            <%= link_to notifications_path,class: 'nav-link text-light' do %>
              <div class="nav-btn">通知</div>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
              <div class="nav-btn">ログアウト</div>
            <% end %>
          </li>

        <% elsif admin_signed_in? %>

          <li>
            <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
              <div class="nav-btn">ログアウト</div>
            <% end %>
          </li>

        <% else %>
          <li>
            <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
              <div class="nav-btn">新規登録</div>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path ,class: 'nav-link text-light' do %>
              <div class="nav-btn">ログイン</div>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

